/*------------------- font poppins--------------- */

body{
    font-family: 'Poppins', sans-serif;
    
}


/*------------------- font poppins--------------- */

/*--------------------- section one start here----------------- */
.section-one{
    margin: auto;
    width: 1440px;
    height: 677px;
    background: #2D25A0;
    margin-bottom: 50px;

}
#go-live{

    width: 168px;
    height: 44px;
    padding: 10px 24px;

    background: #E02C6D;
    text-decoration: none;

}
#go-live:hover{
    background: purple;
    transition: 2s ease;
    
}
h1:hover{
    color: lightcoral;
    transform: scale(1.3);
    transition: color 3s;
    transition: transform 3s;
}
.section-one-right:hover img{
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
}
span{
    color: #FFFFFF;
}
.section-one-right img{
    width: 556.01px;
    height: 438px;
}
.section-one{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    font-size: 64px;
    width: 485px;
height: 230px;
line-height: 80px;
font-weight: 700;
color: #FFFFFF;
}
/*--------------------- End of head section---------------------- */

/* ---------------let's enter into second section--------------------- */

p{
    font-size: 15px;
    font-weight: 400;
    color: darkblue;
}

.upper-section img{
    width: 330px;
    height: 256px
}
.lower-section{
    width: 330px;
height: 154px;
}
/* .player-box{
    width: 330px;
    height: 474px;
    border: 1px dashed grey;
} */
.section-catagory{
    width: 330px;
    height: 474px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}
.section-catagory:hover{
    border: 2px solid blue;
    
}

.section-two{
    width: 1050px;
    margin: auto;
    
}
.section-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}





/* ---------------------It's time to go section three(for bonus mark)-------------------------- */


.media{
    margin: auto;
    width: 1440px;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 150px;
}
.blogs{
    
   
    display: flex;
   justify-content:space-between;
   align-items: center;

}
.info-position{
    width: 295px;
}


    





/* --------------------end of section three */






/*------------------------ section four--------------------- */
.section-four{
    margin: auto;
    width: 1050px;
    width: 50%;
    display: flex;
    justify-content: center;
    
    margin-top: 50px;
   

}
.so-link{
display: flex;
justify-content: center;
text-decoration: none;
}
.so-link a img{
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

.logo{
    width: 390px;
    height: 110px;
   
    
}
footer{
    width: 484px;
    height: 213px;

    
}
.text-alignment{
    text-align: center;
}




/*----------------------- Media quiry for mobile screen--------------------------------- */


@media only screen and (max-width:688px) {
#mobile-container{
        width: 100%;
        margin: auto;

    }
    /*------------------------------------ start section one------------------------------- */
    h3{
        color: brown;
    }
    p{
        font-size: 14px;
        color:blueviolet;
    }
    .section-one{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1 1fr);

       
      
    }
    #go-live:hover{
        background: purple;
        transition.75s ease;
    }
    h1:hover{
        color: lightcoral;
        transform: scale(1.3);
        transition: color 3s;
        transition: transform 3s;
    }
    .section-one-right:hover img{
        transform: scale(1.2);
        transition: transform 2s ease-in-out;
    }
    .section-one-left h1{
    font-weight: 400;
        font-size: 30px;
        margin-bottom: 0px;
     line-height: normal;
     text-align: center;
     
       
    }
    .section-one-left a{
    margin-left: 160px;
    margin-top: 0;
    
    }
    .section-one-right img{
        width: 340.01px;
        height:222px;
        margin-left: 80px;
    }

/*-------------------------------- end of section one----------------------------------------- */



/* ----------------------------------------start section two-------------------------------- */
    #quiry-mobile-sec-2{
        margin:0px 10px 50px 20px;
    }

    #quiry-mobile{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
 /*  -------------------------------------------end of section two--------------------------- */ 
/*------------------------------ starting of section three here---------------------------------- */

    /* .blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    ------------------------ this is for video player in section three --------------------------- 
    .iframe-container{
        position: relative;
        width: 30%;
        padding-bottom: 56.25%; 
        height: 0;
      }
      .iframe-container iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
      } */
   /* i defined the section three after media quiry then i couldn't able to add the section three for media, if i add media quiry for section three my footer section show display none, then i decided to skip the media qury for that section, when you email me with my assignment score i hope you will write on it what is my fault */
     .media{
        display:none;
    }
    /*--------------------------------- end of media quiry for video------------------------------ */
   
    
    .section-four{
        
        margin: auto;
        width: 50%;

    }
    
    
        

    .logo{
        width: 290px;
        height: 72px;
       
    }
   
    

/*----------------------------------- end of media quiry for mobile--------------------------------------- */
